:root {
  --jumbotron-padding-y: 3rem;
}

body {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.footer {
  position: absolute;
  width: 100%;
  line-height: 30px; /* Vertically center the text there */
}

.vert-buffer {
  margin-top: 80px;
}

.image-restricted {
  max-height: 500px;
}

/* ----- Jumbotron ----- */

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 576px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 1);
    padding-bottom: calc(var(--jumbotron-padding-y) * 0.5);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron-heading {
  font-weight: 300;
}

/* ----- Featurettes ----- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-2{
  font-weight: 200;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* ----- Mailing list ----- */

.mailing-list-form {
    padding-left: 0px; /* overrides bootstrap col-# padding */
}